// Header:
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 0;
  margin-bottom: calc(var(--default-padding) * 4);
  gap: 4rem;

  position: sticky;
  top: 0;
  z-index: 2;
  background-color: var(--while-color);

  @media (max-width: 1370px) {
    margin-bottom: calc(var(--default-padding) * 2);
  }

  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100vw;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--while-color);
  }
}

.logoContent__image {
  cursor: pointer;
  width: 149px;
  height: 36.23px;
}

.linksContent {
  transition: all var(--timing-animation);
  transform: translateX(-3rem);
  @media (max-width: 912px) {
    position: absolute;
    width: 100vw;
    background-color: var(--while-color);
    top: 0;
    padding: 3rem 0;
    border-bottom: 0.1rem solid var(--high-light-black-color);
    z-index: -2;
  }

  &__ul {
    display: flex;
    gap: 4.5rem;
    text-transform: capitalize;
    justify-content: center;
  }

  &__link,
  &__link:link,
  &__link:visited {
    letter-spacing: 0.5px;
    font-weight: var(--font-weight-regular);
    transition: all 0.2s;
    color: var(--non-high-light-black-color);
    font-size: var(--font-size-five);
    transition: all 0.15s;

    @media (max-width: 360px) {
      font-size: var(--font-size-six);
    }

    &:hover,
    &:active {
      transform: scale(1.05);
      color: var(--high-light-black-color);
      letter-spacing: 0.75px;
    }
  }
}

.burger-menu__checkbox {
  display: none;
}

@media (max-width: 912px) {
  .burger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 0.75rem;
    z-index: 0;
    align-self: center;
    order: 1;

    &__bar {
      height: 0.3rem;
      width: 4.375rem;
      background-color: var(--high-light-black-color);
      transition: var(--timing-animation);
      color: var(--high-light-black-color);

      .header:has(.burger-menu__checkbox:checked) &:nth-child(1) {
        transform: translateY(10px) rotate(40deg);
      }
      .header:has(.burger-menu__checkbox:checked) &:nth-child(2) {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
      }
      .header:has(.burger-menu__checkbox:checked) &:nth-child(3) {
        transform: translateY(-7px) rotate(-40deg);
      }
    }
  }

  .burger-menu__checkbox:checked + .linksContent {
    top: 100%;
  }
}

.signContent {
  display: flex;
  gap: 3em;
  align-items: center;
  letter-spacing: 0.5px;
  font-size: var(--font-size-five);
  text-transform: capitalize;

  @media (max-width: 587px) {
    display: none;
  }

  &__signInButton {
    color: var(--high-light-black-color);
    font-weight: var(--font-weight-medium);
    transition: all 0.2s;

    &:hover,
    &:active {
      transform: scale(1.06);
      letter-spacing: 0.75px;
    }
  }

  &__signUpButton {
    transition: all var(--timing-animation);
    color: var(--red-color);
    font-weight: var(--font-weight-medium);
    padding: 1rem 4rem;
    border: solid var(--red-color) 2px;
    border-radius: 50px;

    &:hover,
    &:active {
      background-color: #feebeb;
      color: var(--very-red-color);
      border: solid var(--very-red-color) 2px;
      transform: scale(1.06);
      letter-spacing: 2px;
    }
  }
}

.introduction {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;

  @media (max-width: 1370px) {
    flex-direction: column;
    gap: 4rem;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;

    @media (max-width: 1370px) {
      text-align: center;
      gap: 1.4rem;
    }

    &--primaryHeading {
      font-size: var(--font-size-one);
      font-weight: var(--font-weight-medium);
      line-height: var(--line-height-one);
      letter-spacing: 1.03px;

      &-span {
        font-weight: var(--font-weight-bold);
      }

      @media (max-width: 590px) {
        font-size: calc(var(--font-size-one) - 1rem);
      }
    }

    &--button {
      background-color: var(--red-color);
      align-self: flex-start;
      font-size: var(--font-size-five);
      padding: 1.6rem 4.8rem;
      border-radius: 10px;
      font-weight: var(--font-weight-bold);
      color: var(--while-color);
      text-transform: capitalize;
      letter-spacing: 1px;
      box-shadow: 1rem 2.4rem 4.8rem rgba(245, 56, 56, 0.35);
      transition: all var(--timing-animation);

      @media (max-width: 1370px) {
        margin: 0 auto;
      }

      &:hover,
      &:active {
        transform: scale(1.1);
        background-color: #f76060;
      }
    }
  }

  &__Illustration {
    transition: all var(--timing-animation);
    @media (max-width: 1370px) {
      order: -1;
    }
  }

  &__Illustration--img {
    margin: 0 auto;
    width: 61.124rem;
    height: 38.244rem;

    @media (max-width: 590px) {
      width: 51.124rem;
      height: 28.244rem;
    }
  }
}
